:root {
  /* BACKGROUND COLOR VARIABLES */
  --main-bg-color: #652506;
  --main-bg-color-light: #985629;

  /* GAMEPIECE COLOR VARIABLES */
  --gp-bg-color: #281f0e;
  --gp-border-color: #1b150a;
  --gb-bg-symbol-color: #d89109;

  /* GAMEGRID COLOR VARIABLES */
  --gg-bg-color: #d89109;
  --gg-bg-edge-color: #281f0e;
}

/* CSS RESET */
/* https://alligator.io/css/minimal-css-reset/ */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* margin: 0; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  max-height: max-content;
  width: 100%;
  background-image: linear-gradient(
    52deg,
    var(--main-bg-color-light) 0%,
    var(--main-bg-color) 94%
  );
  padding: 2rem;
}

header {
}

.heading-primary {
  /* width: max-content; */
  margin: 1.5rem auto;
  font-size: 5rem;
  padding: 1rem;
  color: var(--gb-bg-symbol-color);
  text-align: center;
  border: 1rem solid var(--gp-bg-color);
  box-shadow: 1rem 1rem 1rem #41200e;
  background-color: var(--main-bg-color);
  border-radius: 2rem;
}

.heading-secondary {
  width: max-content;
  margin: 0.5rem auto;
  font-size: 3rem;
  border-bottom: 3px solid var(--gp-border-color);
}

.player-info {
  width: max-content;
  margin: 2rem auto 0 auto;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
}

.game-area {
  display: flex;
  height: 75vh;
  justify-content: center;
}

.gamepiece__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  height: 70%;

  margin: 4rem auto;
}

.gamepiece__cross,
.gamepiece__nought {
  position: relative;
  margin: 0.5rem;
  width: 45%;
  flex-shrink: 0;
  height: 14.8rem;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem#150902;
  background-color: var(--gp-bg-color);
  border: 2px solid var(--gp-border-color);
  transition: transform 800ms cubic-bezier(0.03, 0.51, 0.93, 0.48);
}

.gamepiece__empty {
  position: relative;
  flex-basis: 45%;
  width: 14.8rem;
  flex-shrink: 0;
  height: 30%;
  height: 14.8rem;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem #5a2d14 inset;
  border: 2px solid #87431d;
}

.gamepiece__cross--symbol {
  position: absolute;
  top: 23%;
  left: 22%;
  width: 60%;
  height: 2rem;
  background-color: var(--gb-bg-symbol-color);
}

.gamepiece__cross--symbol:before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 12rem;
  background-color: var(--gb-bg-symbol-color);
  z-index: 1000;
  top: -150%;
  left: 37.5%;
}

.gamepiece__nought--symbol {
  position: absolute;
  top: 10%;
  left: 23%;
  width: 8rem;
  height: 12rem;
  border-radius: 100%;
  background-color: var(--gb-bg-symbol-color);
}

.gamepiece__nought--symbol:before {
  content: '';
  position: absolute;
  width: 6rem;
  height: 8rem;
  border-radius: 100%;
  background-color: var(--gp-bg-color);

  z-index: 1000;
  top: 17%;
  left: 12.5%;
}

.section-player {
  flex-basis: 20%;
  height: max-content;
  border-radius: 2rem;
  border: 1rem solid var(--gp-bg-color);
  box-shadow: 1rem 1rem 1rem #41200e;
  background-color: var(--main-bg-color);
  flex-shrink: 0;
}

.section-gameboard {
  flex-basis: 50%;
  flex-shrink: 0;
  height: 90%;
  background-color: var(--gg-bg-edge-color);
  border: 2px solid #41200e;
  border-radius: 10px;
  box-shadow: 1rem 1rem 1rem #41200e;
  margin: 0 5rem;
  align-self: center;
}

.game-grid {
  height: 95%;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  background-color: var(--gg-bg-edge-color);
  margin: 1.5rem auto;
}

.game-grid__square {
  display: flex;
}

.game-grid__clear {
  height: 100%;
  width: 100%;
}

.game-grid__style {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #150902;
  box-shadow: 1rem 1rem 1rem #150902 inset;
  width: 100%;
  background-color: var(--gg-bg-color);
}

#new-player-form {
  display: none;
  width: max-content;
  height: auto;
  font-size: 2rem;
  background-color: var(--main-bg-color);
  color: var(--gg-bg-color);
  position: fixed;
  top: 30%;
  left: 39.8%;
  padding: 5rem;
  border-radius: 2rem;
  line-height: 5rem;
  z-index: 5000;
  border: 2rem solid var(--gp-bg-color);
  box-shadow: 1rem 1rem 1rem #150902;
  transition: all 22s;
}

#new-player-form:hover {
  color: #000;
}

.button-container {
  width: max-content;
  margin: 0 auto;
}

.btn {
  border-radius: 2rem;
  border: 2px solid var(--gb-bg-symbol-color);
  padding: 1rem 3rem;
  color: var(--gb-bg-symbol-color);
  background-color: var(--gp-bg-color);
}

.btn:active {
  transform: translateY(5px);
}

#body-blur {
  filter: blur(60px);
  pointer-events: none;
}

.sp__line {
  height: 0.5rem;
  width: 25rem;
  background-color: var(--gp-border-color);
  margin-top: 2rem;
}

.game__info {
  width: 60%;
  margin: 2rem auto;
  padding: 0.5rem;
  border: 1rem solid var(--gp-bg-color);
  box-shadow: 1rem 1rem 1rem #41200e;
  background-color: var(--main-bg-color);
  border-radius: 2rem;
}

.game__info--content {
  text-align: center;
  font-size: 3rem;
  color: var(--gb-bg-symbol-color);
}

@media screen and (min-width: 2000px) {
  body {
    width: 200rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1366px) {
  .gamepiece__cross,
  .gamepiece__nought {
    height: 10rem;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 768px) {
  .game-area {
    flex-direction: column;
    height: max-content;
  }

  .gamepiece__cross,
  .gamepiece__nought {
    width: 18%;
  }

  .section-gameboard {
    width: 90%;
    height: max-content;
    margin: 0 5rem;
  }

  .game-grid {
    height: 50rem;
  }

  .section-player {
    width: 60%;
    height: max-content;
    margin: 2rem;
  }

  .player-two {
    margin-left: auto;
  }

  .game__info {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .game__info--content {
    font-size: 3rem;
  }
}

@media screen and (max-width: 414px) {
  body {
    padding: 0.5rem;
  }

  html {
    font-size: 45%;
  }

  .section-player {
    width: 80%;
  }

  .heading-primary {
    font-size: 3rem;
  }
}
@media screen and (max-width: 360px) {
  .game__info--content {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 320px) {
  .game-grid {
    height: 40rem;
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1024px) {
}
