/* CSS RESET */
/* https://alligator.io/css/minimal-css-reset/ */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(52deg, rgba(152,86,41,1) 0%, rgba(101,37,6,1) 94%);
}

header {
  height: 15vh;
}

.heading-primary {
  width: max-content;
  /* background-color: blue; */
  display: block;
  margin: 0 auto;
  font-size: 5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.heading-secondary {
  width: max-content;
  margin: .5rem auto;
  font-size: 3rem;
}

.player-info {
  width: max-content;
  margin: 2rem auto 0 auto;
  font-size: 2.5rem;
  position: relative;
  /* top: 30%; */
}

main {
  
}

.game-area {
  display: flex;
  height: 75vh;
  /* background-color: cornflowerblue; */
  background-image: linear-gradient(52deg, rgba(152,86,41,1) 0%, rgba(101,37,6,1) 94%);
  /* align-items: center; */
  justify-content: center;
}

.gamepiece__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  height: 70%;
  /* background-color: brown; */
  margin: 4rem auto;
}

/* .marker-cross,
.marker-nought, */
.gamepiece__cross,
.gamepiece__nought {
  position: relative;
  /* flex-basis: 45%; */
  width: 14.8rem;
  flex-shrink: 0;
  /* height: 30%; */
  height: 14.8rem;
  border-radius: 2rem;
  box-shadow: .5rem .5rem 1rem #5a2d14;
  background-color: #281f0e;
  border: 2px solid#1b150a;
}

.gamepiece__empty {
  position: relative;
  flex-basis: 45%;
  width: 14.8rem;
  flex-shrink: 0;
  height: 30%;
  height: 14.8rem;
  border-radius: 2rem;
  box-shadow: .5rem .5rem 1rem #5a2d14 inset;
  /* background-color: #dbcbbd; */
  border: 2px solid  #87431d;
 }

.gamepiece__cross {
  /* background-color: cornflowerblue; */
}



.gamepiece__cross--symbol {
  position: absolute;
  top: 23%;
  left: 22%;
  width: 8rem;
  height: 2rem;
  background-color: #d89109;
  /* box-shadow: .5rem .5rem 1rem white inset; */
  /* border: 3px solid red; */

}

.gamepiece__cross--symbol:before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 12rem;
  background-color: #d89109;
  /* box-shadow: .5rem .5rem 1rem white inset; */
  /* border: 3px solid red; */

  z-index: 1000;
  top: -150%;
  left: 37.5%
}

.gamepiece__nought--symbol {
  position: absolute;
  top: 10%;
  left: 23%;
  width: 8rem;
  height: 12rem;
  border-radius: 100%;
  background-color:  #d89109;
  /* border: 3px solid red; */
  /* box-shadow: .5rem .5rem 1rem white inset; */

}

.gamepiece__nought--symbol:before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 8rem;
  border-radius: 100%;
  background-color: #281f0e;
  /* border: 3px solid red; */

  /* box-shadow: .5rem .5rem 1rem white; */

  z-index: 1000;
  top: 17%;
  left: 12.5%
}

.gamepiece__nought {
  /* background-color: goldenrod */
}


.section-player {
  /* display: flex; */
  /* flex-direction: column; */
  flex-basis: 20%;
  height: 100%;
  border-radius: 2rem;
  border: 2px solid #87431d;
  box-shadow: 1rem 1rem 1rem #5a2d14 inset;
  flex-shrink: 0;
}

/* .player-one,
.player-two {
  background-image: linear-gradient(52deg, rgba(152,86,41,1) 0%, rgba(101,37,6,1) 94%);
} */

.player-one {

}

.player-two {
  /* background-color: darkblue; */
}

.section-gameboard {
  flex-basis: 50%;
  flex-shrink: 0;
  height: 90%;
  background-color: #5a2d14;
  border: 2px solid #41200e;
  border-radius: 10px;
  box-shadow: 1rem 1rem 1rem #41200e;
  display: inline-block;
  margin: 0 5rem;
  align-self: center;
}

.game-grid {
  height: 95%;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  background-color:  #5a2d14;
  margin: 1.5rem auto;
}

.game-grid__square {
  display: flex;
}

/*
.pos-1 {
  background-color: darkred;
}
.pos-2 {
  background-color: goldenrod;
  
  background-color: #251005;
}
.pos-3 {
  background-color: greenyellow;
}
.pos-4 {
  background-color: olivedrab;
}
.pos-5 {
  background-color: orangered;
}
.pos-6 {
  background-color: peru;
}
.pos-7 {
  background-color: powderblue;
}
.pos-8 {
  background-color: purple;
}
.pos-9 {
  background-color: peachpuff;
}
*/

.p-one {
  /* height: 80%;
  width: 80%;
  background-color: rebeccapurple;
  margin: 2rem auto; */
}

.p-two {
  /* height: 80%;
  width: 80%;
  background-color: brown;
  margin: 2rem auto; */
}

.game-grid__clear {
  height: 100%;
  width: 100%;
}

.game-grid__style {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #150902;
  box-shadow: 1rem 1rem 1rem #150902 inset;
  width: 100%;
  background-color: #251005;

}

/* .marker-nought {
  height: 100%;
  width: 100%;
  
  background-color: limegreen;
} */

/* .marker-cross {
  height: 100%;
  width: 100%;
  background-color: blueviolet;
} */

.icon-star {
  position: absolute;
  font-size: 4rem;
  top: 35%;
  left: 60%;
  color: #d89109;
  fill: #d89109;
  z-index: 2000;
}

#new-player-form {
  display: none;
  /* display: flex; */
  width: max-content;
  font-size: 2rem;
  /* flex-direction: column; */
  background-color: chartreuse;
  position: fixed;
  top: 30%;
  left: 39.8%;
  padding: 5rem;
  border-radius: 2rem;
  line-height: 5rem;
  z-index: 5000;
}

.new-player {
 
}

.button-container {
  width: max-content;
  margin: 0 auto;
  
  
}

.btn {
  
}

#body-blur {
  filter: blur(60px);
}