/* ORIGINAL COLORS */
:root {
    /* BACKGROUND COLOR VARIABLES */
    --main-bg-color: #652506;
    --main-bg-color-light: #985629;

    /* GAMEPIECE COLOR VARIABLES */
    --gp-bg-color: #281f0e;
    --gp-border-color: #1b150a;
    --gb-bg-symbol-color: #d89109;

    /* GAMEGRID COLOR VARIABLES */
    --gg-bg-color: #251005;
    --gg-bg-edge-color:  #5a2d14;



}

:root {
    /* BACKGROUND COLOR VARIABLES */
    --main-bg-color: #a39a9a;
    --main-bg-color-light: #fbf0f0;
  
    /* GAMEPIECE COLOR VARIABLES */
    --gp-bg-color: #29132e;
    --gp-border-color: #860029;
    --gb-bg-symbol-color: #860029;
  
    /* GAMEGRID COLOR VARIABLES */
    --gg-bg-color: #b8b0b0;
    --gg-bg-edge-color: #7c7575;
  
  
  }